<body class="bgi">
<div>
  <h3 class="Tc">Bonjour,<br> Je suis un jeune étudiant de chez White Rabbit qui travaille sur du front-end angular</h3>
  <hr>
  <div>
    <div class="card" style="width: 18rem;">
      <img src="assets/venom.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">1er projet</h5>
        <p class="card-text">Ceci est mon premier projet test HTML</p>
        <a href="https://cocky-jones-42c380.netlify.app/" (click)="getConfirmation()" class="btn btn-primary">Voici le code</a>
      </div>
    </div>
  </div>
  <hr>
</div>
<footer>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" routerLink="/bio-rapide">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/mes-projets">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/mes-diplomes">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/me-contacter">5</a></li>
    </ul>
  </nav>
</footer>
</body>
