<body class="bgi">
  <div class="Tc">
    <h3>Bonjour,<br>Je m'appelle Gianni Buffet. J'ai 19 ans et suis en formation chez White Rabbit
      en spécialisation front-end angular. <br>Je suis de niveau bac Microtechnique et me suis essayé, par 2 fois, à la piscine
    de l'école 42.</h3>
    <hr>
    <figure class="figure">
      <div class="click-zoom">
        <label>
          <input type="checkbox">
          <img src="assets/image%20cv1.jpg" class="figure-img img-fluid rounded" alt="...">
        </label>
      </div>
      <a href="https://drive.google.com/file/d/1GX-T5RLnEuAo-BQsDUUobrrgWBBswe66/view?usp=sharing">
        <button type="button" class="btn btn-secondary">Le CV en PDF si vous ne voyez pas.</button>
      </a>
    </figure>
  </div>

<footer>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" routerLink="/giannib">1</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">2</span>
      </li>
      <li class="page-item"><a class="page-link" routerLink="/mes-projets">3</a></li>
      <li class="page-item"><a class="page-link" routerLink="/mes-diplomes">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/me-contacter">5</a></li>
    </ul>
  </nav>
</footer>
</body>
