<body class="bgi">
<h1 class="Tc">Mes Diplômes</h1>
<hr>

<footer>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" routerLink="/giannib">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/bio-rapide">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/mes-projets">3</a></li>
      <li class="page-item active" aria-current="page">
      <span class="page-link">4</span>
      <li class="page-item"><a class="page-link" routerLink="/me-contacter">5</a></li>
    </ul>
  </nav>
</footer>
</body>
