<body class="bgi">
<hr>
<div class="place">
  <div class="fix">
    <img src="assets/logo/at-sign.svg" alt="">
  <h4>: gianni.buffetsolle@gmail.com</h4>
  </div>
</div>
<div class="place">
  <div class="fix">
    <img src="assets/logo/smartphone.svg" alt="">
    <h3>: 06.37.21.50.89</h3>
  </div>
</div>
<div class="place">
  <div class="fix">
    <img src="assets/logo/home.svg" alt="">
    <h3>: 16 rue gustave eiffel, clichy (92110), boîte au lettre n°18</h3>
  </div>
</div>
<footer>
</footer>
<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item"><a class="page-link" routerLink="/giannib">1</a></li>
    <li class="page-item"><a class="page-link" routerLink="/bio-rapide">2</a></li>
    <li class="page-item"><a class="page-link" routerLink="/mes-projets">3</a></li>
    <li class="page-item"><a class="page-link" routerLink="/mes-diplomes">4</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">5</span>
  </ul>
</nav>
</body>
