<body class="bgi">
<h2 class="Tc">Voici mes projets test</h2>
<hr>
<div>
  <div class="card" style="width: 18rem;">
    <img src="assets/venom.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">1er projet</h5>
      <p class="card-text">Ceci est mon premier projet test HTML</p>
      <a href="https://cocky-jones-42c380.netlify.app/" (click)="getConfirmation()" class="btn btn-primary">Voici le code</a>
    </div>
  </div>
</div>
<footer>
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link" routerLink="/giannib">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/bio-rapide">2</a></li>
      <li class="page-item active" aria-current="page">
      <span class="page-link">3</span>
      <li class="page-item"><a class="page-link" routerLink="/mes-diplomes">4</a></li>
      <li class="page-item"><a class="page-link" routerLink="/me-contacter">5</a></li>
    </ul>
  </nav>
</footer>
</body>
