<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand col-7" routerLink="/giannib" >GianniB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container ">
          <li class="nav-item">
            <a class="nav-link active " routerLink="/bio-rapide">Bio Rapide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/mes-projets">Mes Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/mes-diplomes">Mes Diplômes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/me-contacter">Me Contacter</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
